name: "构建v5-bot"
on:
  workflow_dispatch:
  repository_dispatch:
    types: v5-bot
  
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    name: 构建v5-bot
    env:
      IMAGE_NAME: v5-bot
      IMAGE_NAME_FULL: ${{ secrets.DOCKER_V5_BOT_REGISTRY }}/${{ secrets.DOCKER_V5_BOT_REPO }}/${IMAGE_NAME}
    steps:
      - name: Checkout me
        uses: actions/checkout@v2
      - name: Checkout v5
        run: |
          git clone ${{ secrets.V5_BOT_URL }} ${IMAGE_NAME}
      - name: Build and publish image
        uses: ilteoood/docker_buildx@master
        with:
          publish: true
          imageName: ${IMAGE_NAME_FULL}
          dockerFile: v5/Dockerfile
          platform: linux/amd64
          tag: latest
          dockerUser: ${{ secrets.DOCKER_USERNAME }}
          dockerPassword: ${{ secrets.DOCKER_PASSWORD }}
          dockerServer: ${{ secrets.DOCKER_SERVER }}
          context: ${IMAGE_NAME}
      - name: Notify success
        if: ${{ success() }}
        run: |
          bash shell/tg-notify.sh ${{ secrets.TG_USER_ID }} ${{ secrets.TG_BOT_TOKEN }} "构建成功\n\n${IMAGE_NAME_FULL}"
      - name: Notify fail
        if: ${{ failure() }}
        run: |
          bash shell/tg-notify.sh ${{ secrets.TG_USER_ID }} ${{ secrets.TG_BOT_TOKEN }} "构建失败\n\n${IMAGE_NAME_FULL}"
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 0